body{
    /*background: url(/images/home.jpg) no-repeat center fixed;*/
    /*background-size: cover;*/
    background-color: #444;
}

h1{
    text-align: center;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}
@media screen and (max-width: 47.4375em) {
    h1 {
        font-size: 2em;
    }
    form {
        width: 350px!important;
    }
}

.login{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

input{
    width: 276px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    height: 333px;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    margin-top: 100px;
    border-radius: 5px;
   
    background-clip: padding-box;
    background: rgba(0, 0, 0, .5); 
   
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

input.username{
    background: rgba(255, 255, 255, 0.4)  no-repeat scroll 16px 16px; 
      padding-left:45px;
}

input.password{
    background: rgba(255, 255, 255, 0.4)  no-repeat scroll 16px 16px; 
      padding-left:45px;
}


input:focus { 
      background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
      overflow: hidden; 
}

::-webkit-input-placeholder {
      color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
      color: #fff; 
}

/*提示消息*/
#tipModal .modal-dialog{
    padding: 0 10px;
    width: 280px;
    opacity: 1;
}
#tipModal .modal-dialog .modal-content{
    padding: 15px;
    opacity: 1;
}
#tipModal .modal-dialog .hint{
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}
#tipModal[data-type=success] .modal-dialog .hint{
    color: #118443;
}
#tipModal .modal-dialog .icon{
    width: 100%;
    background: url('/images/success.png') center 0 no-repeat transparent;
}
#tipModal[data-type=success] .modal-dialog .icon{
    background-size: 52px 51px;
    height: 51px;
}
#tipModal[data-type=error] .modal-dialog .hint{
    color: #D86875;
}
#tipModal[data-type=error] .modal-dialog .icon{
    background-image: url('/images/error.png');
    background-size: 52px 52px;
    height: 52px;
}
#tipModal[data-type=warn] .modal-dialog .hint{
    color: #FAA31D;
}
#tipModal[data-type=warn] .modal-dialog .icon{
    background-image: url('/images/warn.png');
    background-size: 52px 52px;
    height: 52px;
}
#tipModal[data-type=loading] .modal-dialog .hint{
    color: #666;
}
#tipModal[data-type=loading] .modal-dialog .icon{
    background-image: url('/images/loading.gif');
    height: 60px;
    width: 200px;
    background-size: contain;
    background-position: center center;
}
#prompt{
    position: absolute;
    left: 50%;
    /*width: 10px;*/
    min-width: 120px;
    margin-left: -5px;
}
#prompt .popover{
    background-color: #000;
    color: #fff;
    font-size: 12px;
}
#prompt .popover.top{
    margin-top: -6px;
}
#prompt .popover.top > .arrow:after{
    border-top-color: #000;
}
#prompt .popover.top > .arrow{
    display: none;
}
#prompt .popover-content{
    white-space: nowrap;
    overflow: hidden;
}
.popover-title{
    font-size: 12px;
}
.popover-content{
    font-size: 12px;
}
